// bower:scss
// endbower
/*variables*/

/*COLORS*/
$body-bg: #000;
$red: #C12A3D;
$gray-text: #a2a3a5;
$gray: #d7d7d7;
$gray-bg: #efefef;
$black: #231f20;

$yellow: #fcb912;
$green: #01958D;
$blue: #3D6472;
$orange: #DC6A3C;

/*FONTS*/
@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro-Regular.eot');
  src: url('../fonts/Intro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro-Regular.woff2') format('woff2'),
  url('../fonts/Intro-Regular.woff') format('woff'),
  url('../fonts/Intro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '28 Days Later';
  src: url('../fonts/28_days_later.eot');
  src: url('../fonts/28_days_later.eot?#iefix') format('embedded-opentype'),
  url('../fonts/28_days_later.woff2') format('woff2'),
  url('../fonts/28_days_later.woff') format('woff'),
  url('../fonts/28_days_later.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*mixins*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  -ms-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-full($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  -ms-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin opacity($value) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=$value);
  -moz-opacity: $value;
  -khtml-opacity: $value;
  opacity: $value;
}

@mixin min-height($value) {
  min-height: $value;
  height: auto !important;
  height: $value;
}

@mixin body-font($style) {
  font-family: 'Intro', sans-serif;
  font-weight: $style;
}

@mixin title-font($style) {
  font-family: '28 Days Later', sans-serif;
  font-weight: $style;
}

@mixin transition-all($duration) {
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  transition: all $duration;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  transform: scale($value);
}

////
//Variable
////

$float-left: float-left;
$float-right: float-right;

////
//Classes
////

.col-m-2 {
  width: 16.66%;
}

.col-m-3 {
  width: 25%;
}

.col-m-4 {
  width: 33.33%;
}

.col-m-6 {
  width: 50%;
}

.col-m-8 {
  width: 66.67%;
}

.col-m-12 {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

////
// RESET
////
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin-left: 20px;
}

nav ul, ul.clean {
  margin-left: 0;
  list-style-type: none !important;
}

a, a:visited {
  text-decoration: none;
}

h1, h2 {
  font-weight: normal;
}

h3, h4, h5, h6 {
  font-weight: normal;
}

a:focus {
  outline: none;
}

a::-moz-focus-inner {
  border: 0;
}

input, select, textarea {
  outline: 0;
}

input[type="button"] {
  outline: none;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}

button {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

img {
  outline: 0 !important;
  border: 0 !important;
}

////
// DEFAULTS
////
body {
  position: relative;
  @include body-font(normal);
  font-size: 16px;
  line-height: 1.4em;
  color: #fff;
  background-color: $body-bg;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
}

a {
  color: $gray-text;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3, h4 {
  font-size: 16px;
}

h2, h3, h4 {

}

header, footer, section, article, nav {
  display: block;
}

.gray-bg {
  background-color: $gray-bg;
}
p {
  padding: 0 20px;
}
.cont {
  position: relative;
  margin-bottom: 50px;
}

////
// CLEARFIX
////
.cf:before, .cf:after {
  //content: " ";
  //display: table;

  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  *zoom: 1;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
  /*For IE 6/7 only*/
}

////
// LOADER
////
$loader-height: 90px;
$loader-width: 90px;
#loader-main-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  //background-color: #fff;
  background: #000000 !important;
  z-index: 9999;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: - $loader-height / 2;
    margin-left: - $loader-width / 2;
  }
}

////
// HEADER
////
// types: normal, fixed
$header-height: 90px;
header.main {
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  text-align: center;
  z-index: 9;

  &.fixed {
    position: fixed;
  }
}

.breadcrumbs {
  display: none; //REMOVE
}

////
// NAVIGATION
////

//types: basic, drop, aside
$nav-height: 40px;
nav.main {
  &.header {
    position: relative;
    top: 36px;
    height: $nav-height;
    //width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    ul {
      > li {
        display: inline-block;
      }
      li {
        a {
          margin: 0 15px;
          text-transform: uppercase;
          line-height: $nav-height;
          white-space: nowrap;
          font-size: 16px;
          color: #fff;
        }
      }
    }
  }
}

nav.side-menu {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  padding: 90px 20px;
  background: #2E2E2D;
  ul {
    li {
      display: block;
      width: 100%;
      a {
        height: 40px;
        line-height: 60px;
        color: #fff;
      }
    }
  }
}

////
// TOOLS HEADER
////
.tools {
  position: absolute;
  top: $header-height / 4;
  left: 15px;
  .search {
    padding: 0 5px 0 5px;
  }
}

////
// LOGO
////
.logo-center-background {
  background-image: url(../images/logo1.svg);
  background-repeat: repeat-x;
  opacity: 0.5 !important;
  min-height: 100%;
  width: 100%;
  background-position: center center;
  position: fixed;
}

.logo {
  display: block;
  &.center {
    max-width: 100%;
    height: auto;
    z-index: 4;
  }
  &.top {
    position: fixed;
    top: 23px;
    left: 30px;
    width: 99px;
    height: 73px;
  }
  img {
    display: block;
    width: 108%;
  }
}


////
//Parallax Logo effect
////
#scene {
  //position: relative;
  //top: 40%;
  //left: 0;

  //position: absolute;
  //top: 50%;
  //left: 0;
  //width: 100%;
  //transform: translateY(-50%);
  //height: 130px;
  //margin-top: -65px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  bottom: 0;
  margin: auto;

  #logo-center-parallax-1,
  #logo-center-parallax-2,
  #logo-center-parallax-3,
  #logo-center-parallax-4,
  #logo-center-parallax-5 {
    width: 20%;
  }
  #logo-center-parallax-1 {
    left: 0;
    opacity: 0.4!important;
  }
  #logo-center-parallax-2 {
    left: 20% !important;
    opacity: 0.4!important;
  }
  #logo-center-parallax-3{
    left: 40% !important;
  }
  #logo-center-parallax-4{
    left: 60% !important;
    opacity: 0.4!important;
  }
  #logo-center-parallax-5{
    left: 80% !important;
    opacity: 0.4!important;
  }
}


////
// FRONT
////
.front {
  position: relative;
  //min-height: 100%;
  //height: 100vh;
}

.front-bgr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 3;
}

#home-video {
  width: 100%;
  min-height: 100%;
}
.video-cont {
  position: relative;
  height: 100vh;
}
////
// MENU BTN
////
$menu-btn-width: 30px;
//$menu-btn-height: 25px;
$menu-btn-height: 30px;
$menu-btn-color: #fff;
.menu-mobile-btn {
  display: block;
  position: absolute;
  top: 44px;
  right: 30px;
  width: $menu-btn-width;
  height: $menu-btn-height;
  color: #fff;
  z-index: 999;
  cursor: pointer;
}

////
// MENU BTN BURGER
////
.menu-mobile-btn {
  &.burger, &.arrow {
    .top, .middle, .bottom {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $menu-btn-color;
    }
    .top {
      top: 0;
    }
    .middle {
      top: 11px;
    }
    .bottom {
      top: 22px;
    }
  }
}

////
// MAIN CONTENT
////
.main-cont {
  position: relative;
  width: 100%;
  z-index: 5;
  //Added
  //padding-top: 100px;
  padding-top: 0px;
}

.section-cont {
  position: relative;
  width: 100%;
  padding-top: 100px;
  background-color: #000;
}

.section {
  width: 100%;
  padding: 0px 0px;
  //max-width: 1200px;
  margin: 0 auto;

  header {
    //Added
    padding-top: 50px;
    padding-bottom: 40px;
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 3.2em;
      line-height: 1.2em;
      @include title-font(normal);
    }
  }
  &.pad {
    .cont {
      margin: 0 30px;
    }
  }
}

.black-shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.02) 1%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.02) 1%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.02) 1%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

.services {
  .black-shadow {
    &.top {
      position: absolute;
      top: -200px;
      width: 100%;
      height: 200px;
    }
    &.bottom {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 200px;
    }
  }
  .black-shadow-mild {
    &.bottom {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 200px;
    }
  }
  .cont {
    top: -50px;
    min-height: 540px;
    background-image: url(../images/bgr_opacity_50.png);
    background-repeat: repeat-x;
  }
}

.list {
  text-align: center;
  padding-top: 10%;
  .item {
    display: inline-block;
    padding: 0 2%;
    margin-bottom: 30px;
    img {
    }
    h3 {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}

.image-cont {
  display: inline-block;
  position: relative;
  width: 120px;
  min-width: 100px;
  height: 120px;
  margin-bottom: 25px;
  .head {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: .4s;
    transition: .4s;
    width: 90%;
  }
  .tail {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
    width: 90%;
  }
  &:hover {
    .head {
      opacity: 0;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .tail {
      opacity: 1;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
}

////
// CAPTION CONT
////

.caption-cont {
  text-align: center;
  .caption-item {
    display: inline-block;
    position: relative;
    margin: 0 3px;
    width: 30%;
  }
  .down {
    top: 10px;
  }
  .caption {
    width: 100%;
    height: auto;
  }
  .caption-item.down,.caption-item.up  {
    @include transition-all(.13s);
    &:hover {
      @include scale(1.04);
      position: relative;
      z-index: 99999;
    }
  }
  //.caption-item.down:hover,.caption-item.up:hover {
  //    @include scale(1.04);
  //    position: relative;
  //    z-index: 99999;
  //}
  $play-height: 100px;
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$play-height / 2;
    margin-left: -$play-height / 2;
    min-width: 50px;
    z-index: 99999;
  }
}

.more {
  margin: 40px 0 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  a {
    color: $gray-text;
  }

  //img {
  //  display: inline-block;
  //  vertical-align: middle;
  //  margin-left: 10px;
  //}
}

////
// COMMERCIALS
////
.mfp-close:hover {
  cursor: pointer;
}
.view-more {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.commercials-section {
  padding-bottom: 80px;
}
.more {
  a{
    div {
      height: 20px;
      width: 117px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: right;
      @include transition-all(0.80s);

    }
  }
  &:hover {
    a {
      div {
        width: 100px;
      }
    }
  }
}


////
// FILMS
////
.black-shadow-mild {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}

.movie-section {
  background-image: url(../images/bgr_opacity_50.png);
  background-repeat: repeat-x;
  .black-shadow-mild.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: 1;
  }
  .more {
    position: relative;
    margin-top: 50px;
    z-index: 3;
  }
}

.movie-cont {
  position: relative;
  text-align: center;
  z-index: 3;
  a {
    img:hover {
      @include scale(1.04);
      position: relative;
      z-index: 99999;
    }
  }
}

.movie-item {
  display: inline-block;
  position: relative;
  margin: 0 24px;
  @include transition-all(0.13s);

  &.down {
    top: 10px;
  }
}
//.movie-cont {
//  a {
//    img:hover {
//      @include scale(1.04);
//      position: relative;
//      z-index: 99999;
//    }
//  }
//}

////
// TV PROJECTS
////
.tv-projects-section {
  //padding-top: 150px;
  padding-top: 80px;
}

////
// PHOTOGRAPHY WORKS
////
.gallery-cont {
  padding: 35px;
}
.photography-works-section {
  //padding-top: 140px;
  padding-top: 80px;
}

.slick-arrow {
  top: 50%;
  margin-top: -40px;
  z-index: 999;
}

.slick-prev:before, .slick-next:before {
  content: "";
}

.slick-next {
  right: 58px;
}

.slick-prev {
  left: 30px;
}

.slick-slide {
  img {
    max-width: 100%;
  }
}

////
//Service Page
////
$padding-right: 40px;
$padding-left: 40px;
.section.recipe-list-section {
  header {
    h1 {
      text-align: center;
    }
  }
}
.section.recipe-list-section.page-services {
  max-width: 960px;
  header {
    h1 {
      text-align: center;
    }
  }
}
.cont.cf {
  .col-m-2.left {
    .image-cont {
      display: flex;
      justify-content: space-around;
      align-content: center;
      margin-bottom: 0;
      width: 100%;
      text-align: center;
    }
  }
  .col-m-2.right {
    .image-cont {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-around;
      align-content: center;
      margin-bottom: 0px;
    }
  }

  .col-m-6.right, .col-m-6.left {
    text-align: right;
    display: table;
    height: 120px;
    p {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

  }
  .col-m-6.left {
    text-align: left;
  }
}


////
//FILMS PAGE
////
.section.recipe-list-section.film-page {
  max-width: 1200px;
  .module {
    margin-left: 12%;
    margin-right: 12%;

    .img-cont {
      display: inline-block;
      width: calc(50% - 40px);
      img.movie-item {
        margin: 0;
        max-width: calc(100% - 40px);
      }
    }
    .text-cont-right {
      display: inline-block;
      width: calc(50% - 40px);
      vertical-align: top;
      padding: 0 20px;
      .description {
        text-align: justify;
        padding: 0;
      }
      header {
        padding-top: 0px;
        padding-bottom: 20px;
      }
    }
    .film-cont {
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}




////
// FOOTER
////
$footer-bg: #46494F;
footer.main {
  color: $gray-text;
  padding: 30px 30px 0;
  .shadow-bgr {
    width: 100%;
    height: 220px;
    text-align: center;
    background-image: url(../images/bgr_opacity_50.png);
    background-repeat: repeat-x;

    .item {
      float: left;
      width: 33.33%;
      margin: 57px 0;
      text-align: center;
      img {
        margin: 12px;
      }
    }
  }
  .credits {
    padding: 16px 0;
    text-transform: uppercase;
    font-size: 9px;
  }
  .copy-rights {
    float: left;
    width: 50%;
    text-align: left;
  }
  .agency {
    float: right;
    width: 50%;
    text-align: right;
  }
}

.mfp-content {
  max-width: none !important;
  width: 70% !important;
}

////
//RESPONSIVE
////
@media all and (max-width: 1200px) {
  ////
  // LOGO
  ////
  .cont {
    width: 100%;
  }
  $ipad-header-height: 60px;
  $ipad-logo-height: 50px;
  header.main {
    height: $ipad-header-height;
    .logo {
      top: (($ipad-header-height - $ipad-logo-height) / 2) + 5;
      left: ($ipad-header-height - $ipad-logo-height) / 2;
      //right: 15px;
      height: $ipad-logo-height;

      img {
        height: $ipad-logo-height;
      }
    }
  }
  $ipad-nav-height: 30px;
  nav.header {
    height: $ipad-nav-height;
    ul li a {
      line-height: $ipad-nav-height;
    }
    &.basic {
      top: ($ipad-header-height - $ipad-nav-height) / 2;
    }
    &.drop {
      top: ($ipad-header-height - $ipad-nav-height);
    }
  }
  .tools {
    position: absolute;
    top: 5px;
    left: 15px;
    .search {
      padding: 0 5px 0 5px;
    }
  }
  .menu-mobile-btn {
    top: ($ipad-header-height - $menu-btn-height) / 2;
    right: ($ipad-header-height - $menu-btn-height) / 2;
  }
}

@media all and (max-width: 980px) {
  .video-cont {
    height: 100%;
  }
  ////
  //Play img
  ////
  $play-height: 70px;
  .caption-cont {
    .play {
      margin-top: -$play-height / 2;
      margin-left: -$play-height / 2;
      width: 25%;
    }
  }
  ////
  // LOGO
  ////

  #scene {
    display: none;
  }
  .menu-mobile-btn {
    display: block;
  }
  $mobile-nav-bg: #000;
  $mobile-nav-item-height: 40px;
  nav.header.basic, .mobile-nav-cont {
    position: absolute;
    top: 0;
    left: -320px;
    width: 320px;
    height: 1000px;
    margin-left: 0;
    padding-top: 60px;
    background-color: $mobile-nav-bg;
    z-index: 9;
    ul, nav.header.drop {
      li {
        float: none;
        a {
          display: block;
          width: 100%;
          height: $mobile-nav-item-height;
          line-height: $mobile-nav-item-height;
        }
      }
    }
  }
  .mobile-nav-cont nav.header.drop {
    .expand-btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
    ul {
      position: relative;
      top: 0;
      li {
        position: relative;
        float: none;
        padding-left: 30px;
        a {
          display: block;
          width: 100%;
          height: $mobile-nav-item-height;
          line-height: $mobile-nav-item-height;
        }
      }
    }
  }
  .mobile-nav-cont {
    position: relative;
    top: 60px;
    background-color: $mobile-nav-bg;

  }

  .movie-cont.cf {
    width: 100%;
    > a {
      width: 40%;
      display: inline-block;
      padding: 20px;
      img {
        max-width: 100%;
        margin: 0;
      }
    }
  }
  .cont {
    .list {
      padding-top: 10%;
    }
  }
  //  FILMS


}

@media all and (max-width: 768px) {
  p {
    padding: 0 5%;
  }
  ////
  // LOGO
  ////
  .logo.top {
    display: block !important;
    opacity: 1 !important;
  }
  .logo {
    display: none !important;
  }
  nav.main.header {
    opacity: 0 !important;
    display: none !important;
  }
  .menu-mobile-btn.burger {
    opacity: 1 !important;
    display: block !important;
  }
  .section.pad.services {
    max-width: 768px;
    .cont {
      width: 100%;
    }
  }
  .movie-cont.cf {
    > a {
      width: 49%;
    }
  }
  .cont.cf {
    .col-m-2.left, .col-m-2.right {
      .image-cont {
        padding: 15%;
      }
    }
  }
  //Films Page
  //TODO: Change this section!
  .module {
    .img-cont {
      width: 100%;
      img.movie-item {
        width: 100%;
      }
    }
    .text-cont-right {
      display: inline-block;
      width: 100%;
      header {
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .description {
        text-align: justify;
      }
    }
    .film-cont {
      display: flex;
      flex-wrap: wrap;
    }
  }
  //TODO: Change this section!
  .section.recipe-list-section.film-page {
    .module {
      .img-cont {
        display: inline-block;
        width: 100%;
        img.movie-item {
          margin: 0;
          max-width: 100%;
        }
      }
    }
  }
  //TODO: Change this section!
}

@media all and (max-width: 590px) {
  .section {
    header {
      h2 {
        font-size: 1.8em;
      }
    }
  }
  .section-cont {
    padding-top: 50px;
  }
  ////
  //Home Page - Cont Header Services
  ////

  //Header
  .black-shadow {
    &.top {
      display: none;
    }
  }
  .cont {
    header {
      padding-top: 30px;
      padding-bottom: 0px;
    }
    .list {
      .item {
        margin: 20px 0;
        width: 30%;
        padding: 0;
        vertical-align: top;
      }
    }
  }
  .movie-cont.cf {
    > a {
      width: calc(100% - 15px);
    }
    > a:first-child {
      img.movie-item.down {
        left: 10px;
      }
    }
    > a:last-child {
      img.movie-item.down {
        right: 10px;
      }
    }
  }
  .movie-section {
    .more {
      margin-top: 20px;
    }
  }
  .section {
    &.pad {
      .cont {
        margin: 0;
      }
    }
  }

  .caption-cont {
    .caption-item {
      width: 70%;
    }

    .up {
      left: 10px;
      top: 10px;
    }

  }
  .image-cont {
    img {
      max-width: 100%;
    }
  }

  .slick-next.slick-arrow {
    img {
      width: 30px;
    }
  }
  .slick-prev.slick-arrow {
    img {
      width: 30px;
    }
  }

  // Footer
  footer.main {
    .shadow-bgr {
      width: 100%;
      height: 100%;
      .item {
        float: none;
        width: 100%;
        margin: 20px 0;
      }
    }
    .credits.cf {
      font-size: 0.6em;
      .copy-rights {
        float: none;
        width: 100%;
        text-align: center;
      }
      .agency {
        float: none;
        width: 100%;
        text-align: center;
      }
    }
  }

  //End of Home Page

  //Service Page
  .left, .right {
    float: none;
  }
  .col-m-6,.col-m-2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .cont.cf {
    margin-bottom: 20px;
    .col-m-6.right,.col-m-6.left {
      p {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        text-align: justify;

      }
    }
    .col-m-2.left, .col-m-2.right {
      .image-cont {
        padding: 5px;
      }
    }
  }
  .section {
    header {
      padding-top: 0;
    }
  }


}

@media all and (max-width: 400px) {
  .image-cont {
    width: 100%;
    margin-bottom: 0;
    .head {
      width: 90%;
    }
  }
  .movie-cont.cf {
    > a {
      width: calc(100% - 15px);
    }
  }
  .list {
    .item {
      padding: 0 10px;
    }
  }
  .module {
    .text-cont-right {
      padding: 0;
      header {
        padding-top: 25px;
      }
    }
  }
}