.preview-link .inline-form-control {
    width: auto !important;
}
[id*=meta_description] {
    height: 65px !important;
}
.add-element-btn {
    margin: 10px 0 10px 0;
}
.pointer {
    cursor: pointer;
}
.error {
    color: red;
    text-align: center;
}
.divider {
    margin: 20px 0 20px 0;
}
.glyphicon-star {
    color: #ffd76e;
    margin-left: 10px;
}
.col-lg-6 {
    margin: 10px 0 0 0;
}
.dd-item-w-9-1 .list-header{
    width: 90%;
}
.dd-item-w-9-1 .list-btn-group{
    width: 10%;
}
.absolute {
    position: fixed;
    z-index: 10000;
    top: 50%;
    width: 7%;
    left: 50%;
    display: none;
}
body.mceContentBody, .mce-content-body {
    font-family: 'Open Sans', sans-serif!important;


}

.col-2 {
    float: left;
    width: 50%
}

.cont {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.cf:before,
.cf:after {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    *zoom: 1
}
.form-section {
    padding: 0 20px
}
.form-section .col-2 {
    width: 100%
}
.form-item.col-2 {
    width: 100%
}
.form-item.col-2 .input,
.form-item.col-2 .select-cont {
    width: 100%
}
.form-item.col-1 {
    width: 100%
}
.form-item.col-1 .input,
.form-item.col-1 .select-cont {
    width: 100%
}
h3,
h4,
h5,
h6 {
    font-weight: normal
}
h3,
h4 {
    font-size: 16px
}

h1,
h2,
h3,
h4 {
    font-family: 'Merriweather', serif;
    font-weight: 400
}
h1,
h2,
h3,
h4 {
    font-family: 'Merriweather', serif;
    font-weight: 400
}
.recipe-ingr-list h2,
.recipe-ingr-list h3,
.recipe-ingr-list h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: #adadad
}
.order-list-table {
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    border-collapse: collapse
}

.order-list-table tr.order-item td {
    border-bottom: 1px solid #adadad
}

.order-list-table tr.order-foot td {
    padding: 15px 0 0 6px
}

.order-list-table .image {
    margin: 5px;
    margin-left: 0
}

.order-list-table .price {
    width: 70px
}

.order-list-table .remove {
    width: 30px
}

.order-list-total {
    text-align: center;
    padding: 10px 10px;
    font-size: 18px
}

.order-list-total .qty {
    margin: 0 10px;
    font-weight: bold
}

.order-list-total .price {
    display: inline-block;
    margin: 0 10px;
    width: 90px;
    color: #d59d3c;
    font-weight: bold;
    font-size: 20px
}

.order-list-table {
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    border-collapse: collapse
}

.order-list-table tr.order-item td {
    border-bottom: 1px solid #adadad
}

.order-list-table tr.order-foot td {
    padding: 15px 0 0 6px
}

.order-list-table .image {
    margin: 5px;
    margin-left: 0
}

.order-list-table .price {
    width: 70px
}

.order-list-table .remove {
    width: 30px
}

.count-btn {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 45px;
    padding-right: 30px;
    line-height: 43px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #242021;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.count-btn .inc {
    position: absolute;
    top: 0;
    right: 0px;
    height: 21.5px;
    width: 25px;
    line-height: 20.5px;
    text-align: center;
    border-left: 1px solid #242021;
    border-bottom: 1px solid #242021;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.count-btn .dec {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 22.5px;
    width: 25px;
    line-height: 20.5px;
    text-align: center;
    border-left: 1px solid #242021;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.form-section h1,
.form-section h2,
.form-section h3,
.form-section h4 {
    margin: 20px auto;
    line-height: 24px;
    font-size: 18px;

}
.form-section h3 {
    font-weight: 600;
}
.form-section h2 {
    font-size: 20px;
    font-weight: 600;
}